body {
	background: url(purple-background/03.jpg);
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

.game-screen {
	position: relative;
	width: 60em;
	height: 30em;
	margin: 12em auto;
}

.game-word-container {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-70%, -50%);
	font-size: 4em;
	text-align: center;
}

.guess-container {
	position: relative;
	margin: 4em auto;
	width: 50%;
	text-align: center;
}

.attempt-counter {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2em;
}

.hide {
	display: none;
}

.appear {
	display: block;
}

input[type="text"] {
  display: block;
  margin: 0;
  font-family: Roboto Condensed;
  font-size: 18px;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}

.style-2{
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
.style-2 [type="text"]:focus,
.style-2 [type="text"].focus {
  border: solid 5px #969696;
}



