body {
}

.game-screen {
	position: relative;
	width: 60em;
	height: 30em;
	border: 2px solid black;
	margin: 12em auto;
}

.game-word-container {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-70%, -50%);
	font-size: 4em;
}

.guess-container {
	position: relative;
	margin: 4em auto;
	width: 50%;
	text-align: center;
}

.attempt-counter {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background-color: red;
}